<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feb</title>
</head>
<body>
    <center><h1>FAKULTAS EKONOMI DAN BISNIS</h1></center>
    <p align="justify">Fakultas Ekonomi Universitas Sultan Ageng Tirtayasa (UNTIRTA) merupakan Lembaga Pendidikan Tinggi, yang pada awal pendiriannya bernaung di bawah Yayasan Pendidikan Tirtayasa (Yapenta). Yapenta sendiri merupakan yayasan yang telah berdiri pada tanggal 1 Oktober 1980, berdasarkan Akte Notaris Nomor 1 tahun 1980. Kemudian dilakukan penyempurnaan dengan pengukuhan kembali Akte Notaris Ny. R. Arie Soetardjo, Nomor 1, tanggal 3 Maret 1986. Pada tahun 1986, atas dukungan dari para cendikiawan dan tokoh masyarakat saat itu, seperti; Surjadi Sudirja, Tubagus M. Rais, Dorojatun Kuncoro Jakti, Tungki Ariwibowo, dan Sudarmono, selanjutnya dilakukan pengembangan untuk mendirikan Fakultas Ekonomi. Selanjutnya, Fakultas Ekonomi UNTIRTA mendapatkan ijin operasional pada tahun 1986 untuk membuka Jurusan Manajemen. Kemudian, atas anjuran dan dukungan dari PT Krakatau Steel, Fakultas Ekonomi UNTIRTA membuka Jurusan Akuntansi di tahun 1987.</p>
    <h2>Terdiri dari Program Studi:</h2>
    <p>Akuntansi, Manajemen, Ekonomi Syariah, Ilmu Ekonomi Pembangunan</p>
    
</body>
</html>