<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fkip</title>
</head>
<body>
    <center><h1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h1></center>
    <p align="justify">FKIP Untirta sudah ada sejak lama pada awal berdiri FKIP Untirta memiliki dua program studi yakni Program Studi Administrasi Pendidikan (AdPend) dan Program Studi Pendidikan Luar Sekolah (PLS) dengan jenjang pendidikan Sarjana (S.1). Namun pada 1987 Program Studi Administrasi Pendidikan mengalami fisingout oleh pemerintah sehingga tidak menerima mahasiswa baru lagi. Menjelang fisingout tercetus ide bersama untuk mengganti program studi dan berdirilah Program Studi Bahasa dan Sastra Indonesia pada 1986.

        FKIP memiliki program studi terbanyak di Untirta yaitu 18 program studi. Sehingga FKIP merupakan fakultas di Untirat yang paling banyak diminati pada Seleksi Nasional Masuk Perguruan Tinggi Negeri (SNMPTN), Seleksi Bersama Masuk Perguruan Tinggi Negeri (SBMPTN) oleh calon mahasiswa baru.
    </p>
    <h2>Terdiri dari Program Studi:</h2>
    <p>Pendidikan Non Formal, Pendidikan Guru Sekolah Dasar, Pendidikan Anak Usia Dini, Pendidikan Fisika, Pendidikan Bahasa dan Sastra Indonesia, Pemdidikan Bahasa Inggris, Pendidikan Kimia, Pendidikan Matematika, Pendidikan Biologi, Pendidikan Vokasi Teknik Elektro, Pendidikan Teknik Mesin, Pendidikan Sosiologi, Pendidikan Sejarah, Pendidikan Kebutuhan Khusus, Pendidikan Kewarganegaraan, Pendidikan IPA, Pendidikan Seni Pertunjukan, Bimbingan Konseling</p>
</body>
</html>