{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faperta</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/stylesfaperta.css" %}">
</head>
<body>
    <img id="banner_faperta" src="{% static "img/banner_faperta.png" %}" alt="">
    <nav>
        <ul>
            <li><a href="/home">home</a></li>
            <li><a href="/profil">profil</a></li>
            <li><a href="/feb">feb</a></li>
            <li><a href="/fh">fh</a></li>
            <li><a href="/fisip">fisip</a></li>
            <li><a href="/fk">fk</a></li>
            <li><a href="/fkip">fkip</a></li>
            <li><a href="/ft">ft</a></li>
            <li><a href="/pascasarjana">pascasarjana</a></li>
        </ul>
    </nav>
    <div class="container">
        <center><h1>FAKULTAS PERTANIAN</h1></center>
        <p align="justify">Fakultas Pertanian Universitas Sultan Ageng Tirtayasa merupakan salah satu Fakultas yang ada di lingkungan Universitas Sultan Ageng Tirtayasa yang pada awalnya didirikan berdasarkan SK Ketua Yayasan Pendidikan Tirtayasa Nomor: 020/YPT/VIII/1984 tanggal 31 Agustus 1984. Faperta Untirta adalah salah satu wadah untuk menciptakan generasi penerus bangsa yang kelak dapat berguna untuk membantu upaya dalam menunjang pembangunan nasional dan daerah terutama dalam pengembangan pemanfaatan dan pengelolaan sumberdaya alam (SDA) dan sumberdaya Manusia (SDM) khususnya disektor pertanian.</p>
        <h2>Terdiri dari Program Studi:</h2>
        <p>Agribisnis, Agroekoteknologi, Perikanan, Teknologi Pangan</p>
    </div>
</body>
</html>