<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fisip</title>
</head>
<body>
    <center><h1>FAKULTAS ILMU SOSIAL DAN POLITIK</h1></center>
    <p align="justify">FISIP Untirta didirikan pada tahun akademik 2002/2003 yang mendapat legitimasi menjadi bagian dari Untirta dengan surat keputusan nomor 124/0/2004 sesuai dengan SOTK. FISIP Untirta terus berpacu dan berkembang untuk berusaha mensejajarkan diri dengan fakultas yang lebih dulu berdiri dengan mengeluarkan jurus-jurus strategis baik dibidang pendidikan, pengajaran, pengabdian masyarakat, sarana dan prasarana sebagai wujud dari Tri Dharma Perguruan Tinggi. Hal ini dibuktikan dengan diselenggarakan berbagai kegiatan dan beberapa sarana untuk meningkatkan kualitas baik dosen, mahasiswa maupun karyawan.</p>
    <h2>Terdiri dari Program Studi:</h2>
    <p>Administrasi Publik, Ilmu Komunikasi, Ilmu Pemerintahan</p>
</body>
</html>