<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">home</a></li>
            <li><a href="/profil">profil</a></li>
            <li><a href="/faperta">faperta</a></li>
            <li><a href="/feb">feb</a></li>
            <li><a href="/fh">fh</a></li>
            <li><a href="/fisip">fisip</a></li>
            <li><a href="/fk">fk</a></li>
            <li><a href="/fkip">fkip</a></li>
            <li><a href="/ft">ft</a></li>
            <li><a href="/pascasarjana">pascasarjana</a></li>
        </ul>
    </nav>
    <center><h1>Data Dosen, Mahasiswa, dan Tenaga Kependidikan</h1></center>
</body>
</html>