{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profil</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">home</a></li>
            <li><a href="/profil">profil</a></li>
            <li><a href="/faperta">faperta</a></li>
            <li><a href="/feb">feb</a></li>
            <li><a href="/fh">fh</a></li>
            <li><a href="/fisip">fisip</a></li>
            <li><a href="/fk">fk</a></li>
            <li><a href="/fkip">fkip</a></li>
            <li><a href="/ft">ft</a></li>
            <li><a href="/pascasarjana">pascasarjana</a></li>
        </ul>
    </nav>
    <h1><center>BIODATA</center></h1>
    <center><img style="width: 10%" src="{% static "img/fotosaya.png" %}" alt=""></center>
    <p>Nama     : Riska Nurfajriah</p>
    <p>NIM      : 2225210079</p>
    <p>Kelas    : 3A</p>
    <p>TTL      : Bogor, 12 Maret 2003</p>
    <p>Alamat   : Perum Griya Bukit Jaya Blok F8 No.45 Gunung Putri, Bogor</p>
    <p>Jurusan  : Pendidikan Matematika</p>
    <p>Instansi : Universitas Sultan Ageng Tirtayasa</p>
    <p>Kontak   : 085880222542</p>
    <p>Instagram: @riskanrfajriah</p>
</body>
</html>